<div *ngIf="quizzes">
    <div class="row" *ngFor="let quiz of quizzes">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">{{quiz.name}}
                    </h3>
                    <h4 class="card-subtitle">
                        <div *ngFor="let rule of quiz.ruleList">
                            #{{rule.category}} - {{rule.difficulty}} : {{rule.nrOfQuiestion}} 
                        </div>
                        <div style="float:right;">
                            <a class="btn btn-light btn-lg" *ngIf="quiz.result!==null">{{quiz.result.score}}/{{quiz.score}}</a>
                            <button *ngIf="quiz.result === null" type="button" class="btn btn-info btn-lg" (click)="goToQuiz(quiz.id)">Start</button>
                        </div>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>