<div class="row">
    <div class="col-md-6" *ngFor="let user of users">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">{{user.name}}
                    <div style="float:right;">
                        <button  *ngIf="!user.admin" type="button" class="btn btn-info btn-sm" (click)="modifyAdminRole(user.email)">Add admin role</button>
                        <button  *ngIf="user.admin" type="button" class="btn btn-danger btn-sm" (click)="modifyAdminRole(user.email)">Remove admin role</button>
                    </div>
                </h3>
                <h6 class="card-subtitle">{{user.email}} - {{user.phone}} </h6>
            </div>
        </div>
    </div>
</div>