<div class="row">
        <div class="col-md-6" *ngFor="let event of events">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">{{event}}</h3>
                    <h6 class="card-subtitle">This is basic Default pagination</h6>
                    <ngb-tabset>
                      <ngb-tab title="Simple">
                        <ng-template ngbTabContent>
                          <p class="p-t-20">event description tab1</p>
                        </ng-template>
                      </ngb-tab>
                      <ngb-tab>
                        <ng-template ngbTabTitle><b>Fancy</b></ng-template>
                        <ng-template ngbTabContent>
                          <p class="p-t-20">event descirption tab2</p>
                        </ng-template>
                      </ngb-tab>
                      <ngb-tab title="Disabled" [disabled]="true">
                        <ng-template ngbTabContent>
                          <p class="p-t-20">event descr tab3</p>
                        </ng-template>
                      </ngb-tab>
                    </ngb-tabset>
                  </div>
            </div>
        </div>