<div class="row" style="background:white" *ngIf="!errorMessage; else errorTemplate">
    <div class="col-md-12" *ngFor="let question of questions">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">{{question.text}}  - {{question.score}}</h3>
                <h6 class="card-subtitle">A typeahead example that gets values from a static string</h6>
                <div *ngFor="let answer of question.answersList">
                    <span *ngIf="answer.checked; else uncheckedAnswer"><button type="button" class="btn btn-success"
                            (click)="toggleChecked(question.id, answer.id)"></button>
                        {{answer.value}}</span>
                    <ng-template #uncheckedAnswer>
                        <button type="button" class="btn btn-danger" (click)="toggleChecked(question.id,answer.id)"></button>
                        {{answer.value}}
                    </ng-template>
                    {{answer.correct}}
                </div>
            </div>
        </div>
        <div class="card">
            <img [src]="question.image" alt="QuestionImage">
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
            <button type="button" class="btn btn-info btn-lg" (click)="submitQuiz()">Submit Quiz</button>
        </div>
        </div>
    </div>
</div>

<ng-template #errorTemplate>
    <div class="alert alert-danger">{{errorMessage}}</div>
</ng-template>