<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Questions</h3>
                <h6 class="card-subtitle">Category groups</h6>
                <form role="search" class="app-search hidden-sm-down">
                    <input type="text" placeholder="Search..." class="form-control"> <a href=""><i class="fa fa-search"></i></a>
                </form>
                <ngb-accordion #acc="ngbAccordion">
                    <span *ngFor="let category of categories">
                        <ngb-panel [id]="category" [title]="category">
                            <ng-template ngbPanelContent>{{category}}</ng-template>
                        </ngb-panel>
                    </span>
                </ngb-accordion>
                <p>
                    <button class="btn btn-sm btn-outline-primary" (click)="acc.toggle('toggle-1')">Toggle first</button>
                    <button class="btn btn-sm btn-outline-primary" (click)="acc.toggle('toggle-2')">Toggle second</button>
                </p>
            </div>
        </div>
    </div>
</div>