<div class="card">
    <div class="card-body">
        <h3 class="card-title">
            Create new question
        </h3>
        <form class="form-horizontal form-material" id="questionCreateForm" (submit)="saveQuestion()" [formGroup]="questionCreateForm">
            <select class="form-control" formControlName="category" title="Category">
                <option value="" disabled selected>Category</option>
                <option>ALGEBRA</option>
                <option>GEOMETRIE</option>
                <option>ASC</option>
                <option>ANALIZA</option>
                <option>TPJAD</option>
                <option>EMBEDDED</option>
                <option>SO</option>
            </select>
            <select class="form-control" formControlName="difficulty" title="Difficulty">
                <option value="" disabled selected>Difficulty</option>
                <option>BEGINNER</option>
                <option>EASY</option>
                <option>MEDIUM</option>
                <option>HARD</option>
                <option>LEGEND</option>
            </select>
            <input class="form-control" type="text" placeholder="Text" formControlName="text" title="Text">
            <input class="form-control" type="text" placeholder="Image" formControlName="image" title="Image">
            <input class="form-control" type="number" placeholder="Time" formControlName="time" title="Time">
            <input class="form-control" type="number" placeholder="Score" formControlName="score" title="Score">
            <hr />
            <fieldset formArrayName="answersList">
                <h4>Answers: </h4>
                <div class="form-group row" *ngFor="let answer of questionCreateForm.get('answersList').controls; let i=index"
                    [formGroup]="answer">
                    <div class="col-md-9">
                        <input type="text" class="form-control" formControlName="value" placeholder="Text">
                    </div>
                    <div class="col-md-2">
                        <select formControlName="correct" placeholder="Is Correct" class="form-control">
                            <option>true</option>
                            <option>false</option>
                        </select>
                    </div>
                    <div class="col-sm-1 py-1">
                        <button type="button" class="btn" (click)="questionCreateForm.get('answersList').removeAt(i)">-</button>
                    </div>
                </div>
            </fieldset>
            <div class="form-group row">
                <div class="col-sm-2 col-sm-offset-10">
                    <div class="form-group row" >
                        <button type="button" class="btn btn-link" (click)="addNewAnswer()">+</button>
                    </div>
                </div>
            </div>
            <div class="text-center m-t-20">
                <button type="submit" [disabled]="questionCreateForm.invalid" class="btn btn-info btn-md btn-block text-uppercase waves-effect waves-light">
                    Save</button>
            </div>
        </form>
    </div>
</div>